.slick-prev:before, .slick-next:before {
    color: black !important;
}

@media (max-width: 1025px) {
  .slick-prev{
    left: 17px !important;
    z-index: 99;
  }
  
  .slick-next{
    right: 15px !important;
  }
}